.Dashboard {
    text-align: center;
  }
  
  .Dashboard-header {
    height: 60px;
    padding: 180px;
    color: white;
  }
  
  .Dashboard-title {
    font-size: 2em;
  }
  
  .Dashboard-intro {
    font-size: large;
  }
