body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  background-image: url("../images/we-connect-bg-2.jpg");
  background-size: cover;
  height: 678px;
  display: block;
  font: bold 40px "Microsoft Tai Le Bold", Calibri, Georgia;
  padding: 10px;
  color: #000066;
  text-align: right;
}
.container {
  padding: 16px;
  display: block;
  text-align: center;
  font: 15px "Microsoft Tai Le Bold", Calibri, Georgia;
 }